h1 {
	text-align: center;
}

.sub-2 {
	font-size: 0.95em;
}

.space-top {
	margin-top: 15px;
	float: right;
}

.f_right {
	float: right;
}

.f_left {
	float: left;
}

.clear_all {
	clear: both;
}

.my_library_container {
	position: relative;
	float: left;
	width: 80%;
	margin-left: 10%;
	margin-top: 2%;
}

.item {
	width: 320px;
	height: 320px;
	background-color: #efefef;
	padding: 10px;
}

.item div {
	text-align: center;
}

div.button_container {
	overflow: hidden;
	width: 100%;
}

div.book_title {
	font-weight: 800;
	font-size: 1.35em;
}

span.book_title {
	font-weight: 800;
}

div.days_due {
	position: absolute;
	bottom: 10px;
	text-align: center;
	width: 94%;
}

div.overdue_glow {
	-webkit-animation: glow_overdue .5s infinite alternate;
}

div.my_library_container button {
	position: relative;
	margin: 0 auto;
	width: 35%;
	padding-left: 20px;
	padding-right: 20px;
}

div.my_library_container button.btn_disabled {
	cursor: not-allowed;
	background-color: #d1d1d1;
}

div.my_library_container button.btn_untoggle {
	background-color: #ffca0f;
}

div.my_library_container button.btn_untoggle:hover {
	background-color: #ffa81c;
}

div.my_library_container button.btn_enabled {
	background-color: #00b200;
}

div.my_library_container button.btn_enabled:hover {
	background-color: #009300;
}

div.my_library_container button.margin_sa_left {
	margin-left: 95px;
}

button.action_button,
button.action_button:hover {
	color: white;
}

/* for notifs pre */

div#greet-user {
	float: left;
	margin-right: 10px;
}

div#notif-toggle {
	cursor: pointer;
}

div#notif-blue-glow {
	background-color: #4183c4;
	width: 10px;
	height: 10px;
	float: left;
	border-radius: 3px;
	margin-top: 5px;
	box-shadow: 0 0 10px #1ba1e2;
}
div#notifs_parent {
	position: absolute;
	background-color: rgba(1,1,1,0.5);
	border-radius: 15px;
	padding: 10px;
	top: 150px;
	right: 280px;
	width: 25%;


	z-index: 1001;
}

div#notifs_parent.notifsdefault{
	top: 60px;
}

div#notifs_container {
	font-size: 0.82em;
	float: right;
	width: 100%;
	overflow: auto;
	max-height: 420px;	
}

div.notif {
	padding: 10px 25px 10px 15px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	background-color: #f9f9f9;
	overflow: hidden;
	color: white;
	cursor: default;
	width: 100%;
}

div.no-notifs {
	background-color: black;
	text-align: center;
}

div.notif_msg {
	margin-top: 10px;
}

div.notif.claim {
	background-color: #60a917;
}

div.notif.custom {
	background-color: #1ba1e2;
}

div.notif.overdue {
	background-color: #f0a30a;
}

div.notif.claim:hover {
	background-color: rgba(88, 155, 21, 1);
}

div.notif.custom:hover {
	background-color: rgba(24, 147, 204, 1);
}

div.notif.overdue:hover {
	background-color: rgba(219, 147, 13, 1);
}

div#load-more {
	cursor: pointer;
	color: black;
	text-align: center;
}



/* kang Allan na announcements toh */



/* animations ni BurnzZ, wag galawin */

-webkit-border-top-left-radius: 20px;
-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-topleft: 20px;
-moz-border-radius-bottomright: 20px;
border-top-left-radius: 20px;
border-bottom-right-radius: 20px;

@keyframes start {
	from { transform: scale(0); }
	to { transform: scale(1); }
}

@-webkit-keyframes start {
	from { -webkit-transform: scale(0); }
	to { -webkit-transform: scale(1); }
}

@-webkit-keyframes glow_overdue {
    to { text-shadow: 0 0 20px red; }
}

.my_library_container .item[data-state="init"] {
	display: none;
}

.my_library_container .item[data-state="start"]  {
	display: block;
	animation: start 0.5s;
	-webkit-animation: start 0.5s;
}

.my_library_container .item[data-state="move"]  {
	transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s;
	-webkit-transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s;
}

