h1 {
	text-align: center;
}

.sub-2 {
	font-size: 0.85em;
}

.space-top {
	margin-top: 5px;
	float: right;
}

.f_right {
	float: right;
}

.my_library_container {
	position: relative;
	float: left;
	width: 70%;
	margin: 3% 3%;
}

.item {
	width: 320px;
	height: 320px;
	background-color: #f9f9f9;
	padding: 10px;
}

.item div {
	text-align: center;
}

div.book_title {
	font-weight: 800;
	font-size: 1.35em;
}

span.book_title {
	font-weight: 800;
}

div.notif_msg {
	margin-top: 10px;
}

div.days_due {
	position: absolute;
	bottom: 10px;
	text-align: center;
	width: 94%;
}

div.overdue_glow {
	-webkit-animation: glow_overdue .5s infinite alternate;
}

div.my_library_container button {
	position: relative;
	float: left;
	margin: 0 0 0 10px;
	padding-left: 20px;
	padding-right: 20px;
}

div.my_library_container button.btn_disabled {
	cursor: not-allowed;
	background-color: #d1d1d1;
	margin-left: 20px;
}

div.my_library_container button.btn_untoggle {
	background-color: #ffca0f;
	margin-left: 50px;	
}

div.my_library_container button.btn_untoggle:hover {
	background-color: #ffa81c;
}

div.my_library_container button.btn_enabled {
	background-color: #00b200;
	margin-left: 65px;
}

div.my_library_container button.btn_enabled:hover {
	background-color: #009300;
}

div.my_library_container button.margin_sa_left {
	margin-left: 95px;
}

/* for notifs pre */

div#notifs_container {
	position: absolute;
	top: 0;
	margin-left:68%; 
	width: 30%;
	float: right;
}

div.notif {
	padding: 10px 15px;
	margin: 20px 0;
	background-color: #f9f9f9;
	overflow: hidden;
	color: white;
	cursor: default;

	-webkit-border-top-left-radius: 25px;
	-webkit-border-bottom-right-radius: 25px;
	-moz-border-radius-topleft: 25px;
	-moz-border-radius-bottomright: 25px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;

	-webkit-transition: border linear 0.1s, box-shadow linear 0.1s, margin linear 0.1s;
	-moz-transition: border linear 0.1s, box-shadow linear 0.1s, margin linear 0.1s;
	-ms-transition: border linear 0.1s, box-shadow linear 0.1s, margin linear 0.1s;
	-o-transition: border linear 0.1s, box-shadow linear 0.1s, margin linear 0.1s;
	transition: border linear 0.1s, box-shadow linear 0.1s, margin linear 0.1s;
}

div.notif:hover {
	margin: 20px 0 0 10px;
}

div.notif.claim {
	background-color: #60a917;
}

div.notif.custom {
	background-color: #1ba1e2;
}

div.notif.overdue {
	background-color: #f0a30a;
}

div.notif.claim:hover {
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgba(96, 169, 23, 1);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgba(96, 169, 23, 1);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgba(96, 169, 23, 1);
}

div.notif.custom:hover {
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgba(81, 203, 238, 1);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgba(81, 203, 238, 1);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgba(81, 203, 238, 1);
}

div.notif.overdue:hover {
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgba(240, 163, 10, 1);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgba(240, 163, 10, 1);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgba(240, 163, 10, 1);
}


/* kang Allan na announcements toh */



/* animations ni BurnzZ, wag galawin */

-webkit-border-top-left-radius: 20px;
-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-topleft: 20px;
-moz-border-radius-bottomright: 20px;
border-top-left-radius: 20px;
border-bottom-right-radius: 20px;

@keyframes start {
	from { transform: scale(0); }
	to { transform: scale(1); }
}

@-webkit-keyframes start {
	from { -webkit-transform: scale(0); }
	to { -webkit-transform: scale(1); }
}

@-webkit-keyframes glow_overdue {
    to { text-shadow: 0 0 20px red; }
}

.my_library_container .item[data-state="init"] {
	display: none;
}

.my_library_container .item[data-state="start"]  {
	display: block;
	animation: start 0.5s;
	-webkit-animation: start 0.5s;
}

.my_library_container .item[data-state="move"]  {
	transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s;
	-webkit-transition: top 0.5s, left 0.5s, width 0.5s, height 0.5s;
}