#navbar, .top-bar{
  background: #bbbbbb;
}

.top-bar-section li a {
  background: #bbbbbb  !important;
  text-decoration: none !important;
}

.top-bar-section li a:not(.button):hover {
    background: #2266cc !important;
  text-decoration: none !important;
}

#login input{
  max-height:29px !important;
  text-decoration: none !important;
}

#loginform, #loginform form{
  background: #bbbbbb !important;
}

.sidebar-nav a{
  text-align:right !important;
  margin-right: 20% !important;
  margin-left: 0% !important;
  text-decoration: none !important;
}

#search_text{
  height: 5% !important;
    outline: 0;
    margin-left:13% !important;
    margin-right:10% !important;
    background: transparent !important;
    border: 3px solid #2266cc !important;
    width: 70% !important;
    font-family:"Segoe UI Light" !important;
    font-size:100% !important;
}

.order_by{
  height: 7% !important;
    outline: 0;
    margin-left:6% !important;
    margin-right:7% !important;
    background: transparent !important;
    border: 2px solid #2266cc !important;
    width: 90% !important;
    font-family:"Segoe UI Light" !important;
    font-size:100% !important;
    text-indent: 0%;
}

ul{
list-style-type: none !important;
}

#searchbar{
  width: 13% !important;
}

#submit_search{
  margin-left: 25% !important;
  background-color:#2266cc !important;
  font-family:"Segoe UI Light" !important;
    font-size:100% !important;
    width:40% !important;
    color: white;
}

#book_type_div{
  margin-left: 3% !important;
  font-size: 1% !important;
  float: left !important;

}

#status{
  margin-left: 0% !important;
  font-size: 1% !important;
   float: left !important;
   width: 50% !important;
   border-left: 1px solid #2266cc !important;
   margin-right:-10% !important;
   height: 20% !important;
}

body{
 font-family:"Segoe UI Light" !important;
}


.sidebar-nav li:hover {
  color: #fff !important;
  background: #2266cc !important;
  text-decoration: none !important;
  font-size: 140% !important;
}
.sidebar-nav li{
  color: #2266cc !important;
  text-decoration: none !important;
  font-size: 110% !important;
}

.sidebar-nav li.active {
  background-color: #FF6600 !important;
  color:#fff !important;
  font-size: 130% !important;
}

.sidebar-nav {
  margin-left: 0%;
  font-size: 100% !important;
}

#search{
    border-right: 1px solid #2266cc !important;
    width: 100% !important;
}



/*---------------------------------

Sign Up

---------------------------------*/

.signup span{
  width: 30%;
  color: white;
  background: red;
}


.signup span.valid{
  width: 30%;
  color: white;
  background: green;
}

.signup input.valid{
  background: rgba(200, 250, 200, 0.5);
}


/*---------------------------------

Update

---------------------------------*/

.signup span{
  width: 30%;
  color: white;
  background: red;
}


.signup span.valid{
  width: 30%;
  color: white;
  background: green;
}

.signup input.valid{
  background: rgba(200, 250, 200, 0.5);
}



#announcement_manage_container{

  float:right !important;
  position: absolute !important;
  width: 20% !important;
  margin-left:75% !important;
  margin-right: 0% !important; 
  margin-top: 10% !important;
  height:90% !important;
}
/*-----------------------------

ADD AND EDIT

-----------------------------*/
#add_announcement_button{
  width: 15%;
  float: right;
  right:10%;
  position:absolute;
  background-color: #2266cc !important;
}

#right_side_bar{
  float:right !important;
  position: absolute !important;
  width: 20% !important;
  margin-left:80% !important;
  margin-right: 0% !important; 
  margin-top: 0% !important;
  height:90% !important;
}
#add_container{
  width: 100% !important;
  float:right !important;
  border: 1px solid #2266cc !important;
  margin:2% !important;
  clear: right !important;
}
#edit_container{

  float:right !important;
  border: 1px solid #2266cc !important;
  margin-top:5% !important;
  clear: right !important;
  width: 25% !important;
}
#add_container input{
  height:7% !important;
}
#add_button{
	margin-left: 3% !important;
	background-color: #2266cc !important;
}
#edit_container input{
	height:7% !important;
}
#submit_edit{
	margin-left: 3% !important;
	background-color: #2266cc !important;
}
#show_add_form_button{
  float:right !important;
  clear: right !important;
  background-color: #2266cc !important;
}


#recently_added_books_container{
  border: 1px solid #2266cc !important;
  width: 40% !important;
  margin-left: 2% !important;
  display: block !important;
  float: left !important;
}



/*------------------------------

Tabnavs

------------------------------*/




.hide{
    display:none;
}


/*-------------------------------

FAQ
--------------------------------*/
#add_faq_button{
  margin-left: 3% !important;
background-color:#2266cc !important;
font-family:"Segoe UI Light" !important;
    font-size:100% !important;
    width:10% !important;
    color: white;

}
.save_faq_button{
margin-left: 3% !important;
background-color:#2266cc !important;
font-family:"Segoe UI Light" !important;
    font-size:100% !important;
    width:10% !important;
    height: 4% !important;
    color: white;
}
.cancel_faq_button{
margin-left: 3% !important;
background-color:#2266cc !important;
font-family:"Segoe UI Light" !important;
    font-size:100% !important;
    width:10% !important;
    height: 4% !important;
    color: white;
}
.edit_faq_button{
	margin-left: 3% !important;
	background-color:#2266cc !important;
	font-family:"Segoe UI Light" !important;
    font-size:100% !important;
    width:10% !important;
    height: 4% !important;
    color: white;
}
.delete_faq_button{
	margin-left: 3% !important;
	background-color:#FF6600 !important;
	font-family:"Segoe UI Light" !important;
    font-size:100% !important;
    width:10% !important;
    height: 4% !important;
    color: white;
  }

#add_faq_container{
	width:100% !important;
}

.nicEdit-panelContain{
	width: 210% !important;
	height: 100% !important;
}


.nicEdit-main{
	max-width: 500% !important;
	height: 100% !important;
	background-color: white !important;
}



