#navbar, .top-bar{
  background: #bbbbbb;
}

.top-bar-section li a {
  background: #bbbbbb  !important;
}

.top-bar-section li a:not(.button):hover {
  background: #5D55EC !important;
}

#login input{
  max-height:29px !important;
}

#loginform, #loginform form{
  background: #2222EC !important;
}

.sidebar-nav a{
  text-align:right !important;
  margin-right: 20% !important;
  margin-left: 0% !important;
}

#search_text{
  height: 5% !important;
    outline: 0;
    margin-left:13% !important;
    margin-right:10% !important;
    background: transparent !important;
    border: 3px solid #2B65EC !important;
    width: 70% !important;
    font-family:"Segoe UI Light" !important;
    font-size:100% !important;
}

.order_by{
  height: 7% !important;
    outline: 0;
    margin-left:6% !important;
    margin-right:7% !important;
    background: transparent !important;
    border: 2px solid #2B65EC !important;
    width: 90% !important;
    font-family:"Segoe UI Light" !important;
    font-size:100% !important;
    text-indent: 0%;
}

ul{
list-style-type: none !important;
}

#searchbar{
  width: 13% !important;
}

#submit_search{
  margin-left: 25% !important;
  background-color:#2B65EC !important;
  font-family:"Segoe UI Light" !important;
    font-size:100% !important;
    width:40% !important;
    color: white;
}

#book_type_div{
  margin-left: 3% !important;
  font-size: 1% !important;
  float: left !important;

}

#status{
  margin-left: 0% !important;
  font-size: 1% !important;
   float: left !important;
   width: 50% !important;
   border-left: 1px solid #2B65EC !important;
   margin-right:-10% !important;
   height: 20% !important;
}

body{
 font-family:"Segoe UI Light" !important;
}


.sidebar-nav li:hover {
  color: #fff !important;
  background: #2B65EC !important;
  text-decoration: none !important;
  font-size: 140% !important;
}
.sidebar-nav li{
  color: #2B65EC !important;
  text-decoration: none !important;
  font-size: 110% !important;
}

.sidebar-nav li.active {
  background-color: #FF6600 !important;
  color:#fff !important;
  font-size: 130% !important;
}

.sidebar-nav {
  margin-left: 0%;
  font-size: 100% !important;
}

#search{
    border-right: 1px solid #2B65EC !important;
    width: 100% !important;
}



/*---------------------------------

Sign Up

---------------------------------*/

.signup span{
  width: 30%;
  color: white;
  background: red;
}


.signup span.valid{
  width: 30%;
  color: white;
  background: green;
}

.signup input.valid{
  background: rgba(200, 250, 200, 0.5);
}


/*---------------------------------

Update

---------------------------------*/

.signup span{
  width: 30%;
  color: white;
  background: red;
}


.signup span.valid{
  width: 30%;
  color: white;
  background: green;
}

.signup input.valid{
  background: rgba(200, 250, 200, 0.5);
}


/*-----------------------------

ADD AND EDIT

-----------------------------*/

#right_side_bar{
  float:right !important;
  position: absolute !important;
  
  width: 20% !important;
  margin-left:80% !important;
  margin-right: 0% !important; 
  margin-top: 0% !important;
  height:90% !important;
}
#add_container{
  width: 100% !important;
  float:right !important;
  border: 1px solid #2B65EC !important;
  margin:2% !important;
    clear: right !important;
}
#edit_container{
  width: 100% !important;
  float:right !important;
  border: 1px solid #2B65EC !important;
  margin:2% !important;
    clear: right !important;
}
#add_container input{
  height:5% !important;
}
#add_container input{
  height:5% !important;
}
#add_button{
  margin-left: 2% !important;
}
#edit_container input{
  height:5% !important;
}

#show_add_form_button{
  float:right !important;
  margin:2% !important;
  height: 8% !important;
  clear: right !important;
}


#recently_added_books_container{
  border: 1px solid #2B65EC !important;
  width: 40% !important;
  margin-left: 2% !important;
  display: block !important;
  float: left !important;
}



/*------------------------------

Tabnavs

------------------------------*/

