#site-cont{
    min-width: 1000px;
    min-height: 500px;
    z-index: 1010;
    opacity: 1;
}

body{
    font-family:'SEGOEUIL' !important;
    font-size: 15px;
}

textarea{
    resize:vertical;
}

.show-on-hover{
    display: none;
}
.x-button{
    float:right;
    background: rgba(0,0,0,0);
    border: 0 solid rgba(0,0,0,0);
    font-family:"SEGOEUIL" !important;
    color: #cccccc;
}

.x-button:hover{
    background-color: #888888;

}
.removable:hover .show-on-hover{
    display: block;
}

/*--------------------------------------------
BANNER
  *put event on zoomin
--------------------------------------------*/
#banner{
    width: 100%;
    height: 90px;
    background: #222930;
    position: relative;
    border-bottom: 1px solid white;
    z-index: 1010;
}

#banner.pad{
  margin-bottom:60px;
}

/*--------------------------------------------
RIGHTSIDE
  *put event on zoomin
--------------------------------------------*/
#rightbody{
    width: 85%;
    min-height: 200px;
    float: left;
}

#rightbody.fixerupper{
    margin-left: 15%;
}

.detail{
    border: 1px dashed #cccccc;
    padding: 3px 10px 10px 10px;
}

/*--------------------------------------------
NAVBAR
  *put event on zoomin
--------------------------------------------*/
#navbar.default{
    position: fixed;
    top:0px;
}

#navbar{
    width: 100%;
    height: 60px;
    color:white;
    background: #222930;
    position: relative;
    clear: both;
     z-index: 1011;
}

#element-cont{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    /*//  border-left: 1px solid #323940;*/
    /*//  border-right: 1px solid #323940;*/
}
#navbar .menulinks {
    height: 60px;
    padding:15px 20px 5px 20px;
    border-top: 10px solid #222930;
    float: left;
}
#navbar .menulinks:hover{
    border-top: 10px solid #3340DD;
    background: rgba(255,255,255,0.1);
    color: white;
}
#navbar div.btn-group{
    float: left;
}
#navbar .dropdown-hover:hover > ul.dropdown-menu {
    display: block;
}
#navbar div.btn-group .dropdown-menu a{
    color:black;
}

#navbar a{
    color:white;
}

#navbar #login{
    height: 100%;
    padding-top: 2.5%;
    width: 100%;
}

#navbar #login input{
    color:black;
}

#navbar #login input{
    height: 100%;
    height: 70%;
    font-size: 13px;
    color:black;
}

#navbar .right{
    width: 50%;
    height: 100%;
    margin-left: 50%;
}

#navbar .right > a {
    float: right;
    max-width: 40%;
}

#navbar table label{
    height: 10px;
    color: white;
    font-size: 13px;
    font-weight: normal;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}
#navbar #login a{
    font-size: 13px;
}
#navbar #login a:hover{
    text-decoration: none;
    color: rgba(255,255,255,0.7);
}

#navbar.fixed{
  position: fixed;
  top:0px;
}



/*---------------------------------------
SEARCHBAR
---------------------------------------*/
#search{
    width: 15%;
    background: white;
    position: relative;
    z-index: 100000;
    float:left;
    clear:left;
    padding-left: 1px;
    padding-top:10px;
}

#search.fixed{
  position: fixed;
  top:60px;
}

#search #sidebar-wrapper{
    width: 100%;
    background: transparent;
}
#search #sidebar-wrapper li{
    width: 100%;
    text-decoration: none;
    list-style: none;
    background: transparent;
}
#search #sidebar-wrapper ul{
    background: white;
    padding: 0;
}
#search #sidebar-wrapper ul a{
    color: black;
    text-align: right;
    font-size: 1.3vw;
}
#search #sidebar-wrapper ul a:hover{
    color:white;
    text-decoration: none;
    font-size: 1.5vw;

}
#search #sidebar-wrapper ul a:hover li{
    background:  #2266CC;
}
#search #sidebar-wrapper ul img{
    width: 2vw;
}

#search #sidebar-wrapper .active{
  background: orange;
  color: white;
  font-size: 1.5vw;
}
/*------------------------------
DROPDOWN CHECKLIST
------------------------------*/
.dropdown-check-list {
    display: inline-block;
    font-family:'SEGOEUIL' !important;
    width: 50%;
}
.dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
    font-family:'SEGOEUIL' !important;
}
.dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    font-family:'SEGOEUIL' !important;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
    font-family:'SEGOEUIL' !important;

}
.dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    font-family:'SEGOEUIL' !important;
}
.dropdown-check-list ul.items li {
    list-style: none;
    font-family:'SEGOEUIL' !important;
}
.dropdown-check-list.visible .anchor {
    color: #0094ff;
    font-family:'SEGOEUIL' !important;
}
.dropdown-check-list.visible .items {
    display: block;
    font-family:'SEGOEUIL' !important;
}
/*-------------------------------
FAQ
--------------------------------*/
#faq_table_container{
    width: 100% !important;
}

#faq_table{
    width: 100% !important;
}

#faq_table hr{
    background-color: rgba(100,200,150,0.7);
    height: 1px;
}

.question{
    padding-bottom:20px;
    color: #2266cc;
}

.question.editable{
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

.answer_editor{
    width:100%;
    height: 250px !important;
}


#add_question{
    width:100% !important;
}

#add_faq_form{
    width:100% !important;
}


#add_faq_button{
    background-color:#2266cc !important;
    font-family:'SEGOEUIL' !important;
    font-size:100% !important;
    width:20% !important;
    margin-bottom: 2%;
    margin-left: 2%;
    height: 5%;
    color: white;
}
#add_faq_cancel_button{
    background-color:#2266cc !important;
    font-family:'SEGOEUIL' !important;
    font-size:100% !important;
    width:20% !important;
    height: 5%;
    color: white;
}
.save_faq_button{
    background-color:#2266cc !important;
    font-family:'SEGOEUIL' !important;
    font-size:100% !important;
    width:15% !important;
    height: 5%;
}
.cancel_faq_button{
    background-color:#2266cc !important;
    font-family:'SEGOEUIL' !important;
    font-size:100% !important;
    width:15% !important;
    height: 5%;
    color: white;
}
.edit_faq_button{
    margin-left: 3% !important;
    background-color:#2266cc !important;
    font-family:'SEGOEUIL' !important;
    font-size:100% !important;
    width:15% !important;
    height: 5%;
    color: white;
}
.delete_faq_button{
    background-color:#FF6600 !important;
    font-family:'SEGOEUIL' !important;
    font-size:100% !important;
    width:15% !important;
    height: 5%;
    color: white;
}
#add_faq_container{
    width:100% !important;
}
#faq_manage_container{
    margin-left: 10%;
    margin-top: 3%;
    width: 50%;
}

.edit_announcement_button{
    margin-left: 3%;
    background-color:#2266cc !important;
    font-family:'SEGOEUIL' !important;
    font-size:100% !important;
    color: white;
    margin-bottom: 5%;
}
.delete_announcement_button{
    margin-left: 3%;
    background-color:#FF6600 !important;
    font-family:'SEGOEUIL' !important;
    font-size:100% !important;
    color: white;
    margin-bottom: 5%;
}
.errors{
        color: red !important;
    font-size: 80% !important;
    font-weight: bold !important;
}
/*-------------------------
ANNOUNCEMENT CAROUSEL

---------------*/

#announcements_container.admin{
    width: 100%;
}

#announcements_container.notAdmin{
    width: 60%;
    float: left;
    margin-left: 10%;
    margin-top:80px;
}

 #announcement_carousel{
    width:100% !important;
    height: 300px !important;
}

#announcement_carousel .carousel-control{
    z-index: 1000;
    min-height: 340px;
}
#announcement_carousel .carousel-caption {
    position: relative;
    left: 0 !important;
    width: 100%;
    min-height: 350px;
    margin-left: 0px;
    margin-top: 20px;
    background-color:  #222930 !important;
    padding: 20px 8% 0px 8% !important;
}
.carousel-control {
    padding-top: 20% !important;
}
.carousel-control.left{
    padding-right: 9% !important;
}

.carousel-control.right{
    padding-left: 9% !important;
}

#announcement_carousel .item.active{
    width: 100%;
    padding: 0px !important;
    margin: 0px;
}

#announcement_carousel .item{
    width: 100%;
    padding: 0px !important;
    margin: 0px;
}

.sub-heading{
    color: rgba(250,165,0,1);
}

/*-----------------------------------
ERROR
-----------------------------------*/
.invalid_user input[type='text'], .invalid_user input[type='password']{
    background:rgba(225, 150, 150, 0.3);
}
.signup .username input[name='username']{
    background:rgba(225, 150, 150, 0.3);
}
.signup .email input[name='email']{
    background:rgba(225, 150, 150, 0.3);
}
.signup .student_no input[name='student_no']{
    background:rgba(225, 150, 150, 0.3);
}
.signup .emp_no input[name='emp_no']{
    background:rgba(225, 150, 150, 0.3);
}
.signup .pass input[name='currentpassword']{
    background:rgba(225, 150, 150, 0.3);
}
.top-bar a img{
}
/*ABOUT US*/
#about_us_wrapper {
    width: 100% !important;
    float: left; 
    padding: 20px !important;
    z-index: 0;
    position: relative;

}
#about_us_wrapper p{
    margin: 10px 0 0 0px;
    line-height: 1.5em;
    text-indent: 4em;
    width: 100%;
     position: relative;
}
#about_us_container{
    width: 70% !important;
    float: left;
    margin-left: 5%;
    margin-top: 15px;
    position: relative;
    z-index: 0;

}
/**/
#tabnavihome{
    margin-left: 3.5%;
    margin-top: 80px;
    width: 59%;
    position: relative;
    float:left;
    font-size: 1vw;
}
#right_side_bar{
    position: relative;
    height:20%;
    width: 30%;
    float: right;
    margin-top: 80px;
    margin-right: 2%;
}
#add_announcement_button{
    background-color:#2266cc !important;
    font-family:'SEGOEUIL' !important;
    font-size: 1vw !important;
    width:100% !important;
    height:30%;
    color: white;
}
#show_add_form_button{
    background-color:#2266cc !important;
    font-family:'SEGOEUIL' !important;
    font-size: 1vw !important;
    width:100% !important;
    color: white;
    height:30%;
}
.tab-content{
    width: 100%;
}
#submit_search{
    background-color:#2266cc !important;
    font-family:'SEGOEUIL' !important;
    font-size:100% !important;
    width:50% !important;
    color: white;
    height:35px;
    margin-left: 20%;
    margin-top: 2%;
}
#search_text{
    margin-left: 10%;
    width: 80%;
}
.order_by{
    margin-left: 10%;
    width: 80%;
}
#dropdown_container{
    margin-left: 2%;
}
#result_container{
    background-color: white;
}
/* for non users */
#result_container_container{
    margin-left: 5%;
    width: 60%;
}

/** temporary lang sagwa ng black border e -allan **/
#search_table, #recently_added_books_table{
    border: 1px solid #ccc;
    width: 100%;
}

#result_container_container table{
    width: 100%;
}

/* */
#book_type_div{
 
    font-size: 1vw;
    float:left;
}

#status{  
    font-size: 1vw;
    float:left;
}

.anchor{
    font-size: 1vw;
}

.items{
    position: absolute;
    width: 60%;
    //background-color: rgba(255,165,0,0.8);
    background-color: white;
    font-size: 1vw;
    bottom:33%;

}

#dropdown_container{
    margin-top: 2%;
    height: 10%;
    width: 90%;
    font-size: 1.1vw;
}

#nonuserresult{
    width: 50%;
    margin-left: 20%;
}


/*USER VIEW - FAQS*/
#faq_container {
    width: 60%;
    float: left;
    margin-left: 10%;
    margin-top: 10%;

}

#help_container {
    width: 60%;
    float: left;
    margin-left: 10%;
    //margin-top: 50px;
}   

span.indent-left {
    margin-left: 35px;
}

#home_content_container {
    width: 70%;
    float: left;
    margin-left: 6%;
    margin-top: 50px;
    padding-bottom: 100px;

}   

/*------------
OVERALLS
------------*/

.hide{
    display:none;
}
.fixed{
    position: fixed;
}
.readmore-js-toggle{
    font-family:'SEGOEUIL' !important;
    font-size: 14px;
}

.hiddenspan{
    visibility: hidden;
    font-size: 13px;
}

.error{
    visibility: visible; 
    color: rgba(250, 50, 50, 1);

}
/* CAROUSEL*/
#wrapper_carousel {
        height: 100px;
        width: 100%;
        min-height: 286px;
        padding-top: 1px;
        float: left;
    }
    #slider {
        margin: 0 0 0 0;
        height: 286px;
        overflow: hidden;
        background: url('img/ajax-loader.gif') center center no-repeat;
    }
    
    #slider .slide {
        position: relative;
        display: none;
        height: 286px;
        float: left;
        background-position: center right;
        cursor: pointer;
        border-left: 1px solid #fff;
    }
    
    #slider .slide:first-child {
        border: none;
    }
    
    #slider .slide.active {
        cursor: default;
    }
    
    #slider .slide-block {
        position: absolute;
        left: 50px;
        bottom: 20px;
        display: inline-block;
        width: 400px;
        background-color: #fff;
        background-color: rgba(255,255,255, 0.8);   
        padding: 20px;
        font-size: 12px;
        color: #134B94;
        border: 1px solid #fff;
        overflow: hidden;
        border-radius: 4px;
    }
    
    #slider .slide-block h4 {
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 10px 0;
        line-height: 1;
    }
    #slider .slide-block p {
        margin: 0;
        font-size: 1.2em;
    }

@font-face {
    font-family: 'SEGOEUIL';
    src: url('./SEGOEUIL.eot');
    src: local('SEGOEUIL'), url('../fonts/SEGOEUIL.woff') format('woff'), url('../fonts/SEGOEUIL.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1409">Text with this font applied</p> */
.fontsforweb_fontid_1409 {
    font-family: 'SEGOEUIL' !important;
}

#body{
    margin-left: 10%;
    width: 71%;
    background-color: rgba(255,255,255,0.9);
}

#results{
    margin-left: 10%;
    width: 71%;
     background-color: rgba(255,255,255,0.9);

}

#result_table{
    margin-left: 0%;
    font-size: 1vw;
     background-color: rgba(255,255,255,0.9);
}
#account_log{
    margin-left: 10%;
    width: 71%;
    border-top: 2px solid orange; 
     background-color: rgba(255,255,255,0.9);
}

#page_size{
    width:40px;
}

#submitButton{
    background-color: #3340DD;
    color: white;
    margin-left: 3%;
    width: 15%;
}

#userResultsPerPage{
    float: right;
}

#logsPerPage{
    float: right;
}


#log_table{
    width: 100%;
    margin-bottom: 20px;
    font-size: 1vw;
}

#logs_container #header_logs{
    margin-left:30%;
}

#log_links_container{
    margin-left:1%;
}

#logs_container{
    margin-left:10%;
    padding-bottom: 200px;
}

.help_images{
    margin-left: 150px;
    margin-top: 20px;
}
 
#search_text{
    margin-top: 0%;
    width: 50%;
    margin-left: 25%;
}

#google_submit_search{
    margin-left: 40%;
    width: 20%;
}

#logcon{
    position: relative;
    width:30%;
    top:0;
    margin: 0 auto;
    z-index: 20;
}
#logcon img{
    width:100%;
    margin-top: -105px;
}

#bg{
    margin-top: 90px;
    opacity: 0.3;
    margin-left: 22%;
    width: 60%;
    z-index: 10;
}
#chibi1{
    width: 50%;
    margin-top: 30px;
}
#chibi2{
    width: 50%;
}

#google_class{
    z-index: 10000;
    margin-top: -20px;
}

/*footer*/

#footerimg{
    width:25%;
    float: right;
    background-color: transparent;
    position: fixed;
    right:0px;
    bottom: 0px; 
    z-index: -50;
}


#chibi1f{
    width: 50%;
    margin-bottom: -15px;

}
#chibi2f{
    width: 50%;
}
.help_images{
    margin-left: 150px;
    margin-top: 20px;
}

.help_images img{
    width: 80%;
}

#update_profile_container span.invalid, #create_acc_container span.invalid, #update_admin_profile_container span.invalid{
    color: red;
}

#update_profile_container span.valid, #create_acc_container span.valid, #update_admin_profile_container span.valid{
    color: green;
}