body{
	background: rgb(245,245,245);
	color: black;

	font-family:"Segoe UI Light";
}

hr{
	width: 100%;
	height: 2px;
	background: blue;
}

#navbar{
	width: 100%;
	height: 100px;
	position: fixed;
}

#logo_container{
	position: relative;
	width: 17%;
	height: 100%;
	float: left;
}

#logo_container img{
	margin-left: 5%;
	margin-top: 3%;
	max-height: 80%;
}


#menulinks{
	position: relative;
	height: 100%;
	width: 43%;
	float: left;
	border-bottom: 2px solid blue;
}

#menulinks a{
	margin-top: 47px;
	margin-left: 2px;
	font-size: 20px;
	color: black;
	font-family: "Simplified Arabic";
	width: 20%;
	float: left;
	text-align: center;
}


#acc_manager{
	width: 39%;
	height: 100%;
	float: left;
	border-bottom: 2px solid blue;
}

#login input[type="text"], #login input[type="password"] {
	width: 90%;
	height: 50%;
	background: #fafafa;
}

#login input[type="submit"]{
	width: 40%;
	height: 50%;
}

#login > div{
	margin-top: 5px;
	width:33%;
	padding-top: 20px;
	height:70%;
	float: left;
}


/*--------------------------------------

PAGE BODY (Lower Part of System)

--------------------------------------*/


#pagebody{
	height: 500px;
	position: fixed;
	margin-top: 100px;
	width: 100%;
}


/*--------------------------------------

SEARCH FORM 

--------------------------------------*/

#search{
	width: 100%;
	float: left;

}


#sidebar-wrapper {
  width: 100%;
  transition: all 0.4s ease 0s;
}

#search #search_text {
    height: 25px;
    outline: 0;
    background: transparent;
    border: 3px solid #2B65EC;
    background: white;
    width: 100%;
    font-family:"Segoe UI Light";
    text-indent: 5px;
    font-size:17px;
}

#results_per_page_div{
	width: 100%;
	height: 25px;
}


#submit_search{
	width:24%;
	height:25px;
}

#page-content-wrapper {
  width: 100%;

}
.sidebar-nav {
  top: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 30px;
  text-indent: 20px;
}

.sidebar-nav li  {
  color: #2B65EC;
  display: block;
  text-decoration: none;
  font-size: 20px;
}

.sidebar-nav li:hover {
  color: #fff;
  background: #2B65EC;
  text-decoration: none;
  font-size: 22px;
}

.sidebar-nav li.active {
  background-color: #FF9966;
  color:#fff;
  font-size: 22px;
}

#search img{
	max-height: 16px;
}
a:hover	{
	text-decoration: none;
}

/*---------------------------------------

TABLE RESULTS

---------------------------------------*/
/*
#search_table_container{
	margin-left: 17%;
	width: 83%;
	height: 500px;
	position: fixed;
	float: left;
	overflow: hidden;

}

/*---------------------------------------

MANAGE

---------------------------------------*/

/*
#recently_added_books_container, #add_container, #edit_container{
	min-height: 50px;
	width: 40%;
	background: pink;

	position: fixed;
	right: 0;
	top:100px;
}

 #edit_container{
 	top:160px;
 }



 /*--------------------------------------


 --------------------------------------*/

#accordion{
	width: 17%;
	position: fixed;
	float: left;
	z-index: 1;
}


/*---------------------------------------

RESULTS

---------------------------------------*/

#result_container{
	width:70%;
	background: rgba(200, 200,100,0.5);
	position: fixed;
	float: left;
	z-index: 1;
	margin-left: 17%;
	max-height: 500px;
	overflow: hidden;
}

#show_add_form_button,#form_container{
    float: right;
}
