#site-cont{
    min-width: 1000px;
    min-height: 768px;
}

body{
    font-family:"Segoe UI Light" !important;
    font-size: 15px;
}
/*--------------------------------------------
BANNER
  *put event on zoomin
--------------------------------------------*/
#banner{
    width: 100%;
    height: 90px;
    background: #222930;
    position: relative;
    clear: both;
    border-bottom: 1px solid white;
}

#banner.pad{
  margin-bottom:60px;
}
/*--------------------------------------------
NAVBAR
  *put event on zoomin
--------------------------------------------*/
#navbar{
    width: 100%;
    height: 60px;
    color:white;
    background: #222930;
    position: relative;
    clear: both;
    z-index: 40;
}

#navbar.fixed{
  position: fixed;
  top:0;
}

#element-cont{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    /*//  border-left: 1px solid #323940;*/
    /*//  border-right: 1px solid #323940;*/
}
#navbar .menulinks {
    height: 60px;
    padding:15px 20px 5px 20px;
    border-top: 10px solid #222930;
    float: left;
}
#navbar .menulinks:hover{
    border-top: 10px solid #3340DD;
    background: rgba(255,255,255,0.1);
    color: white;
}
#navbar div.btn-group{
    float: left;
}
#navbar .dropdown-hover:hover > ul.dropdown-menu {
    display: block;
}
#navbar div.btn-group .dropdown-menu a{
    color:black;
}
#navbar a{
    color:white;
}
#navbar #login{
    height: 100%;
    padding-top: 2.5%;
    width: 100%;
}
#navbar #login input{
    height: 70%;
    font-size: 13px;
    color:black;
}
#navbar .right{
    width: 45%;
    height: 100%;
    margin-left: 55%;
}

#navbar .right > a {
    float: right;
    max-width: 40%;
}

#navbar table label{
    height: 10px;
    color: white;
    font-size: 13px;
    font-weight: normal;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}
#navbar #login a{
    font-size: 13px;
}
#navbar #login a:hover{
    text-decoration: none;
    color: rgba(255,255,255,0.7);
}
/*---------------------------------------
SEARCHBAR
---------------------------------------*/
#search{
    width: 15%;
    background: transparent;
    position: absolute;
    z-index: 40;
}

#search.fixed{
  position: fixed;
  top:60px;
}

#search #sidebar-wrapper{
    width: 100%;
    background: transparent;
}
#search #sidebar-wrapper li{
    width: 100%;
    text-decoration: none;
    list-style: none;
    background: transparent;
}
#search #sidebar-wrapper ul{
    background: white;
    padding: 0;
}
#search #sidebar-wrapper ul a{
    color: black;
    text-align: right;
    font-size: 1.3vw;
}
#search #sidebar-wrapper ul a:hover{
    color:white;
    text-decoration: none;
    font-size: 1.5vw;

}
#search #sidebar-wrapper ul a:hover li{
    background:  #2266CC;
}
#search #sidebar-wrapper ul img{
    width: 2vw;
}

#search #sidebar-wrapper .active{
  background: orange;
  color: white;
  font-size: 1.5vw;
}
/*------------------------------
DROPDOWN CHECKLIST
------------------------------*/
.dropdown-check-list {
    display: inline-block;
    font-family:"Segoe UI Light" !important;
}
.dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
    font-family:"Segoe UI Light" !important;
}
.dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    font-family:"Segoe UI Light" !important;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
    font-family:"Segoe UI Light" !important;
}
.dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    font-family:"Segoe UI Light" !important;
}
.dropdown-check-list ul.items li {
    list-style: none;
    font-family:"Segoe UI Light" !important;
}
.dropdown-check-list.visible .anchor {
    color: #0094ff;
    font-family:"Segoe UI Light" !important;
}
.dropdown-check-list.visible .items {
    display: block;
    font-family:"Segoe UI Light" !important;
}
/*-------------------------------
FAQ
--------------------------------*/
#faq_table_container{
    width: 100% !important;
}
.answer_editor{
    width:100%;
    height: 250px !important;
}

#add_answer{
    width:100% !important;
}

#add_question{
    width:100% !important;
}

#add_faq_form{
    width:100% !important;
}


#add_faq_button{
    background-color:#2266cc !important;
    font-family:"Segoe UI Light" !important;
    font-size:100% !important;
    width:15% !important;
    margin-bottom: 2%;
    height: 5%;
    color: white;
    margin-left: 10%;
}
#add_faq_cancel_button{
    background-color:#2266cc !important;
    font-family:"Segoe UI Light" !important;
    font-size:100% !important;
    width:20% !important;
    height: 5%;
    color: white;
    margin-left: 10%;
}
.save_faq_button{
    background-color:#2266cc !important;
    font-family:"Segoe UI Light" !important;
    font-size:100% !important;
    width:15% !important;
    height: 5%;
    color: pink;
    margin-left: 10%;
}
.cancel_faq_button{
    background-color:#2266cc !important;
    font-family:"Segoe UI Light" !important;
    font-size:100% !important;
    width:15% !important;
    height: 5%;
    color: white;
    margin-left: 10%;
}
.edit_faq_button{
    margin-left: 3% !important;
    background-color:#2266cc !important;
    font-family:"Segoe UI Light" !important;
    font-size:100% !important;
    width:15% !important;
    height: 5%;
    color: white;
    margin-left: 10%;
}
.delete_faq_button{
    background-color:#FF6600 !important;
    font-family:"Segoe UI Light" !important;
    font-size:100% !important;
    width:15% !important;
    height: 5%;
    color: white;
    margin-left: 10%;
}
#add_faq_container{
    width:100% !important;
    margin-left: 10%;
}
#faq_manage_container{
    margin-left: 20%;
    margin-top: 3%;
    border: 1px solid #ccc;
    width: 50%;
}

.edit_announcement_button{
    margin-left: 10%;
    background-color:#2266cc !important;
    font-family:"Segoe UI Light" !important;
    font-size:100% !important;
    color: white;
}
.delete_announcement_button{
    margin-left: 10%;
    background-color:#FF6600 !important;
    font-family:"Segoe UI Light" !important;
    font-size:100% !important;
    color: white;
}
.errors{
        color: red !important;
    font-size: 80% !important;
    font-weight: bold !important;
}
/*-------------------------
ANNOUNCEMENT CAROUSEL

---------------*/
#myCarousel{
    width:600px !important;
    height: 450px !important;
    margin-left: 20%;
}

#myCarousel .carousel-control{
    z-index: 1000;

}

#myCarousel .carousel-caption {
    position: relative;
    left: 0 !important;
    height: 450px;
    width: 600px;
    margin-left: 0px;
    margin-top: 20px;
    background-color: black;
    padding-top: 20px !important;
    padding-bottom: 0px !important;
}

/*-----------------------------------
ERROR
-----------------------------------*/
.invalid_user input[type='text'], .invalid_user input[type='password']{
    background:rgba(225, 150, 150, 0.3);
}
.signup .username input[name='username']{
    background:rgba(225, 150, 150, 0.3);
}
.signup .email input[name='email']{
    background:rgba(225, 150, 150, 0.3);
}
.signup .student_no input[name='student_no']{
    background:rgba(225, 150, 150, 0.3);
}
.signup .emp_no input[name='emp_no']{
    background:rgba(225, 150, 150, 0.3);
}
.signup .pass input[name='currentpassword']{
    background:rgba(225, 150, 150, 0.3);
}
.top-bar a img{
}
/*ABOUT US*/
#about_us_wrapper {
    width: 100% !important;
    float: left !important;
    margin: 10px 0 50px 0 !important;
    padding: 20px !important;
}
#about_us_wrapper p {
    margin: 10px 0 0 0px;
    line-height: 1.5em;
    text-indent: 4em;
    width: 100% !important;
}
#about_us_container{
    width: 55.5% !important;
    height: 70% !important;
    float: left !important;
    margin-left: 20%;
    margin-top: 3%;
}
/**/
#tabnavihome{
    margin-left: 20%;
    margin-top: 3%;
    width: 50%;
}
#right_side_bar{
    position: relative;
    height:20%;
    width: 20%;
    float: right;
    margin-right: 3%;
    position: absolute;
    top: 25%;
    right: 0%;
}
#add_announcement_button{
    background-color:#2266cc !important;
    font-family:"Segoe UI Light" !important;
    font-size:100% !important;
    width:70% !important;
    height:40%;
    color: white;
}
#show_add_form_button{
    background-color:#2266cc !important;
    font-family:"Segoe UI Light" !important;
    font-size:100% !important;
    width:70% !important;
    color: white;
    height:40%;
}
.tab-content{
    width: 100%;
}
#submit_search{
    background-color:#2266cc !important;
    font-family:"Segoe UI Light" !important;
    font-size:100% !important;
    width:50% !important;
    color: white;
    height:40%;
    margin-left: 20%;
    margin-top: 2%;
}
#search_text{
    margin-left: 10%;
    width: 80%;
}
.order_by{
    margin-left: 10%;
    width: 80%;
}
#dropdown_container{
    margin-left: 2%;
}
#result_container{
    background-color: white;
}
#book_type_div{
    width: 43%;
}
#status{
    width: 45%;
}

.items{
    position: absolute;
    width: 45%;
    background-color: white;
}

#dropdown_container{
    margin-top: 2%;
    height: 10%;
}

#nonuserresult{
    width: 50%;
    margin-left: 20%;
}


/*USER VIEW - FAQS*/
#faq_container {
    width: 60%;
    float: left;
    margin-left: 20%;
    margin-top: 10%;

}
/*USER VIEW - ANNOUNCEMENT*/
#announcements_container {
    width: 60%;
    float: left;
    margin-left: 20%;
    margin-top: 0;
    
}




/*------------
OVERALLS
------------*/

.hide{
    display:none;
}
.fixed{
    position: fixed;
    margin-top: 10%;

}